{% extends 'base.html.twig' %}

{% block title %}{{ blog_title }} | {{ post.title }}{% endblock %}

{% block body %}
	<article>
		<h1>{{ post.title }}</h1>
		<img src="{{ post.image }}" />
    	<p>
    		{{ post.text }}
    	</p>
	</article>
{% endblock %}